apiVersion: v1
kind: Deployment
metadata:
  name:  nginx
  labels:
    app: nginx
    purpose: deployment-demo
spec:
  replicas: 2
   selector:
    # these labels are used to select pods
    matchLabels:
      app: nginx
      purpose: deployment-demo
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: nginx
        purpose: deployment-demo
    spec:
      containers:
      - image:  nginx
        name:  nginx
        resources:
          limits:
            cpu: "200m"
            memory: "555M"
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 90
          timeoutSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 30
          timeoutSeconds: 10
        env:
        - name:  app
          value:  nginx
        ports:
        - containerPort:  80
        volumeMounts:
        - mountPath: /data
          name: data
      volumes:
        - name: data
          emptyDir: {}
      restartPolicy: Always
      imagePullPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  labels:
    app: nginx
    purpose: deployment-demo
spec:
  ports:
  - port: 80
    name: web
  selector:
    app: nginx
    purpose: deployment-demo